div.header {
    background-color: cornflowerblue;
    margin: auto;
    text-align: center;
    height: 10%;
  }

div.mainTable {
    max-width: 40%;
}

h1.welcomeHeader {
    vertical-align: middle;
    color: white; 
    position: relative;
    top:25%;
  }